// Cores
$cor-fundo: #f9f9f9;
$cor-texto: #333;
$cor-primaria: #0ea5e9;
$cor-primaria-hover: #0284c7;
$cor-header: #111827;
$cor-hover-link: #38bdf8;
$cor-depoimento: #e0f2fe;

// Tipografia
$fonte-principal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// Espaçamentos
$espacamento: 2rem;
$radius: 0.5rem;
